<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicioWebBanco1Soap" />
        <binding name="ServicioWebBanco2Soap" />
        <binding name="ServicioWebCotizadorSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1061/ServicioWebBanco1.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioWebBanco1Soap"
        contract="ServicioWebBanco1.ServicioWebBanco1Soap" name="ServicioWebBanco1Soap" />
      <endpoint address="http://localhost:17712/ServicioWebBanco2.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioWebBanco2Soap"
        contract="ServicioWebBanco2.ServicioWebBanco2Soap" name="ServicioWebBanco2Soap" />
      <endpoint address="http://localhost:1029/ServicioWebCotizador.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioWebCotizadorSoap"
        contract="ServicioWebCotizador.ServicioWebCotizadorSoap" name="ServicioWebCotizadorSoap" />
    </client>
  </system.serviceModel>
</configuration>