# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Fibonacci/nbproject/private/
/Fibonacci/build/
/factorialTCP/nbproject/private/
/tarea1/SumaTCP/build/
/tarea1/SumaTCP/nbproject/private/
/tarea1/factorialTCP/build/
/tarea1/factorialTCP/nbproject/private/
/tarea2/SumaUDP/build/
/tarea2/SumaUDP/nbproject/private/
/tarea2/FactorialUDP/nbproject/private/
/tarea2/FactorialUDP/build/
/chatTCP/nbproject/private/
/chatTCP/build/
/tarea3/ChatSocket/nbproject/private/
/tarea3/Chat/nbproject/private/
/tarea3/chatTCPHilos/nbproject/private/
/tarea3/chatTCPHilos/build/
/tarea3/ServidorClienteMultihilos/nbproject/private/
/tarea3/chatConsole/nbproject/private/
/tarea3/chatConsole/build/
/PracticaOperacionesRMI/nbproject/private/
/PracticasClase/PracticaOperacionesRMI/nbproject/private/
/PracticasClase/SeriesRMI/nbproject/private/
/PracticasClase/PracticaRMI/SeriesRMI/nbproject/private/
/AlumnoRMI/nbproject/private/
/PracticasClase/PracticaRMI/SeriesRMI/build/
/AlumnoRMI/build/
/tarea4/ArreglosRMI/nbproject/private/
/tarea4/ArreglosRMI/build/
/AhorcadoRMI/nbproject/private/
/AhorcadoRMI/build/
/tarea5/AhorcadoRMI/nbproject/private/
/tarea5/AhorcadoRMI/build/
/tarea5/AhorcadoRMI/dist/
/tarea5/AhorcadoTCP/nbproject/private/
/tarea5/AhorcadoTCP/build/
/Laboratorio1/nbproject/private/
/Laboratorio1/build/
/tarea5/ChatMultihilosTCP_ES/nbproject/private/
/AhorcadoEnClasesRMI/nbproject/private/
/AhorcadoEnClasesRMI/build/