# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Build results C#
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/EjemploMultihilosTCP/
/Tareas/tarea3/ChatMultihilosTCP_ES/
/Tareas/tarea3/chat-java/
/Tareas/tarea3/ServidorClienteMultihilos/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/Tareas/tarea1/SumaTCP/build/
/Tareas/tarea1/SumaTCP/nbproject/private/
/Tareas/tarea1/factorialTCP/build/
/Tareas/tarea1/factorialTCP/nbproject/private/
/Tareas/tarea2/SumaUDP/build/
/Tareas/tarea2/SumaUDP/nbproject/private/
/Tareas/tarea2/FactorialUDP/nbproject/private/
/Tareas/tarea2/FactorialUDP/build/
/chatTCP/nbproject/private/
/chatTCP/build/
/Tareas/tarea3/ChatSocket/nbproject/private/
/Tareas/tarea3/Chat/nbproject/private/
/Tareas/tarea3/chatTCPHilos/nbproject/private/
/Tareas/tarea3/chatTCPHilos/build/
/Tareas/tarea3/ServidorClienteMultihilos/nbproject/private/
/Tareas/tarea3/ServidorClienteMultihilos/build/
/PracticasClase/PracticaOperacionesRMI/nbproject/private/
/PracticasClase/PracticaOperacionesRMI/build/
/PracticasClase/PracticaRMI/SeriesRMI/nbproject/private/
/PracticasClase/PracticaRMI/SeriesRMI/build/
/AlumnoRMI/nbproject/private/
/AlumnoRMI/build/
/Tareas/tarea4/ArreglosRMI/nbproject/private/
/Tareas/tarea4/ArreglosRMI/build/
/Tareas/tarea5/AhorcadoRMI/nbproject/private/
/Tareas/tarea5/AhorcadoRMI/build/
/Tareas/tarea5/AhorcadoRMI/dist/
/Tareas/tarea5/AhorcadoTCP/nbproject/private/
/Tareas/tarea5/AhorcadoTCP/build/
/Laboratorios/Laboratorio1/nbproject/private/
/Laboratorios/Laboratorio1/build/
/Tareas/tarea3/ChatMultihilosTCP_ES/nbproject/private/
/Tareas/tarea3/ChatMultihilosTCP_ES/build/
/AhorcadoEnClasesRMI/nbproject/private/
/AhorcadoEnClasesRMI/build/
/Tareas/tarea6/VotacionJGROUPS/nbproject/private/
/Tareas/tarea6/VotacionJGROUPS/build/
/PracticasClase/Practica03052021/Ej1Socket/nbproject/private/
/PracticasClase/Practica03052021/Ej1Socket/build/
/PracticasClase/Practica03052021/Ej2RMI/nbproject/private/
/PracticasClase/Practica03052021/Ej2RMI/build/
/PracticasClase/Alumnos/build/
/PracticasClase/Alumnos/nbproject/private/
/EjemploMultihilosTCP/nbproject/private/
/EjemploMultihilosTCP/build/
/1erParcial/nbproject/private/
/1erParcial/build/
/Tareas/Tarea7/nbproject/private/
/Tareas/Tarea7/build/
/ClienteOperacionesJava/nbproject/private/
/ClienteOperacionesJava/build/
/ClienteServicioWebJava/nbproject/private/
/ClienteServicioWebJava/build/
/ClienteServicioWebJava/dist/